@{
    ViewBag.Title = "Home Page";
}

<div class="container" id="app">
    <div style="display:flex; flex-direction:column; justify-content:center;">
        <div style="display: flex; flex-direction:row; justify-content:flex-start;">
            <div style="padding-top:7px; margin-right: 15px; width:10%;">
                <label for="staticEmail">Поиск :</label>
            </div>
            <div style="width:90%;">
                <search-input-vue-cmp></search-input-vue-cmp>
            </div>
        </div>

        <div style="display:flex; flex-direction:row; justify-content:flex-start; margin-top:15px;">
            <div><h4>Информация по оборудованию</h4></div>
        </div>

        <div style="display:flex; flex-direction:row; justify-content:flex-end; margin-bottom:5px; padding:5px;">
            <button type="button" class="btn btn-outline-success btn-sm" v-on:ckick="event_click_add_new_eqpm()">Добавить новое оборудование</button>
        </div>

        <div style="display:flex; flex-direction:row; justify-content:flex-start; height: 300px; max-height:300px; overflow-y: scroll;">
            <table-eqpm-vue-cmp>
            </table-eqpm-vue-cmp>
        </div>

        <div style="display:flex; flex-direction:row; justify-content: flex-start;">
            <div-info-eqpm-vue-cmp v-if="eqpm_info_visible">
            </div-info-eqpm-vue-cmp>
        </div>
    </div>
</div>